@import '@/styles/variables.scss';

.header-box {
  width: $container-width;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .fronted-favicon {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
