@use '@/styles/variables.scss' as *;

$container-height: calc(100vh - $header-height - $footer-height);

.backend-layout {
  position: relative;
  width: 100vw;
  min-width: $container-width;
  height: 100vh;
  min-height: $container-height;

  .backend-side {
    position: relative;
    flex-shrink: 0;
    height: 100vh;
    width: $side-width;
    transition: width 1s ease;
    border-right: 1px solid var(--el-border-color);
    box-sizing: border-box;
    overflow: hidden;

    &.collapsed {
      width: $side-collapsed-width;
    }
  }

  .backend-main {
    position: relative;
    flex-grow: 1;
    height: 100vh;
  }

  .backend-header {
    position: relative;
    height: $header-height;
    border-bottom: 1px solid var(--el-border-color);
    box-sizing: border-box;
    padding: 0 20px;
  }

  .backend-container {
    position: relative;
    flex-grow: 1;
    height: $container-height;
    overflow: hidden;
    box-sizing: border-box;

    .full-height {
      height: $container-height;
    }
  }

  .backend-footer {
    position: relative;
    height: $footer-height;
    transition: all 1s ease;
    border-top: 1px solid var(--el-border-color);
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 20px;

    &.hidden {
      height: 0;
      opacity: 0;
    }
  }
}
