@use '@/styles/dark/css-vars.scss' as *;
@use '@/styles/variables.scss' as *;

html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

// 朴素链接（无下划线和悬浮、点击等效果）
.plain-link {
  text-decoration: none;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}

// 字号
body {
  font-size: 14px !important;
}
.smaller {
  font-size: 12px !important;
}
.small {
  font-size: 13px !important;
}
.base {
  font-size: 14px !important;
}
.medium {
  font-size: 16px !important;
}
.large {
  font-size: 18px !important;
}
.larger {
  font-size: 20px !important;
}
@media screen and (max-width: 1366px) {
  body {
    font-size: 12px !important;
  }
  .smaller {
    font-size: 10px !important;
  }
  .small {
    font-size: 11px !important;
  }
  .base {
    font-size: 12px !important;
  }
  .medium {
    font-size: 14px !important;
  }
  .large {
    font-size: 16px !important;
  }
  .larger {
    font-size: 18px !important;
  }
}

// 弹性布局
.flex {
  display: flex;
}
.flex-column {
  @extend .flex;
  flex-direction: column;
}
.flex-left {
  @extend .flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-right {
  @extend .flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-between {
  @extend .flex;
  justify-content: space-between;
  align-items: center;
}
.flex-around {
  @extend .flex;
  justify-content: space-around;
  align-items: center;
}
.flex-top {
  @extend .flex;
  align-items: flex-start;
}
.flex-bottom {
  @extend .flex;
  align-items: flex-end;
}
.flex-baseline {
  @extend .flex;
  align-items: baseline;
}
.flex-grow {
  flex-grow: 1;
}
.flex-not-shrink {
  flex-shrink: 0;
}

// 自身居中
.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
// 子元素居中
.flex-center {
  @extend .flex;
  justify-content: center;
  align-items: center;
}
.flex-center-x {
  @extend .flex;
  justify-content: center;
}
.flex-center-y {
  @extend .flex;
  align-items: center;
}

// 单/多行省略
.one-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.two-line {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.three-line {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

// Frontend
.frontend-content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: $container-width;
  height: 100%;
  // padding: 0 10px;
  box-sizing: border-box;
}

// Backend

// 覆写 Element Plus 样式
.el-menu {
  border-right: none !important;
}

.el-space__item:empty {
  margin: 0 !important;
  padding: 0 !important;
}

.auth-dialog {
  width: 430px !important;
  height: 520px !important;

  .el-dialog__body {
    @extend .medium;
    line-height: 1.5;
  }

  .el-tabs__item {
    @extend .large;
    line-height: 1.5;
  }

  .auth-row {
    margin: 10px 0 20px;
    width: 100%;
    height: 40px;

    .el-input {
      @extend .medium;
      height: 100%;
    }

    .el-button {
      width: 100%;
      height: 100%;
    }

    &.low {
      @extend .base;
      height: 36px;
    }
  }
}
