// import dark theme
@use '@/styles/dark/css-vars.scss' as *;

html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  font-size: 14px;
  @media screen and (max-width: 1366px) {
    font-size: 12px;
  }
}

// 弹性布局
.flex {
  display: flex;
}
.flex-between {
  @extend .flex;
  justify-content: space-between;
  align-items: center;
}

// 自身居中
.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
// 子元素居中
.flex-center {
  @extend .flex;
  justify-content: center;
  align-items: center;
}
.flex-center-x {
  @extend .flex;
  justify-content: center;
}
.flex-center-y {
  @extend .flex;
  align-items: center;
}

// 单/多行省略
.one-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.two-line {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.three-line {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

// Frontend

// Backend
