$header-height: 60px;
$footer-height: 60px;
$container-width: 1314px;
$container-height: 600px;
$container-right: 1024px;
$container-left: 270px;
$side-width: 270px;
$main-width: calc(100% - $side-width);