@use '@/styles/index.scss' as *;

.tool-bar {
  z-index: 20;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: calc(50% + 690px);
  display: inline-flex;

  &.bottom-right {
    left: auto;
    right: 15px;
  }

  .tool-button {
    @extend .flex-center;
    @extend .large;
    margin-bottom: -1px;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid var(--el-border-color);
    background-color: var(--el-fill-color-light);
    cursor: pointer;

    &:first-child {
      border-top-left-radius: var(--el-border-radius-base);
      border-top-right-radius: var(--el-border-radius-base);
    }
    &:last-child {
      margin-bottom: 0;
      border-bottom-left-radius: var(--el-border-radius-base);
      border-bottom-right-radius: var(--el-border-radius-base);
    }

    &:hover {
      z-index: 21;
      border-color: var(--el-color-primary);
      color: var(--el-color-primary);
    }
  }
}
