.header-button {
  &:focus,
  &:active {
    background-color: unset !important;
  }
  &:hover {
    background-color: var(--el-fill-color-light) !important;
  }
}

.user-box {
  padding-left: 15px;
  cursor: pointer;
}