.header-button {
  &:focus,
  &:active {
    background-color: unset !important;
  }
  &:hover {
    background-color: var(--el-fill-color-light) !important;
  }
}

.user-box {
  margin-left: 15px;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }
}

:deep(.el-space__item:last-child) {
  margin-right: 0 !important;
}
