@import '@/styles/variables.scss';

.frontend-header {
  position: relative;
  height: $header-height;
  border-bottom: 1px solid var(--el-border-color);
  box-sizing: border-box;
}

.frontend-container {
  position: relative;
  height: calc(100vh - $header-height - $footer-height);
}

.frontend-footer {
  position: relative;
  height: $footer-height;
  border-top: 1px solid var(--el-border-color);
  box-sizing: border-box;
}

.content-box {
  width: $container-width;
  height: 100%;
}
