@use '@/styles/variables.scss' as *;

$container-height: calc(100vh - $header-height - $footer-height);

.frontend-layout {
  position: relative;
  width: 100vw;
  min-width: $container-width;
  height: 100vh;
  min-height: $container-height;

  .frontend-header {
    position: relative;
    height: $header-height;
    border-bottom: 1px solid var(--el-border-color);
    box-sizing: border-box;
    overflow: hidden;
  }

  .frontend-container {
    position: relative;
    flex-grow: 1;
    height: $container-height;
    overflow: hidden;

    .full-height {
      height: $container-height;
    }
  }

  .frontend-footer {
    position: relative;
    height: $footer-height;
    transition: all 1s ease;
    border-top: 1px solid var(--el-border-color);
    box-sizing: border-box;
    overflow: hidden;

    &.hidden {
      height: 0;
      opacity: 0;
    }
  }
}
